body {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}

button {
  padding: 5px;
}

table {
  border-collapse: separate;
}

td {
  padding: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(140 140 140);
}

td.select {
  border-color: #2196f3;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}
